nav{
    padding: 0 20px;
    font-family: 'Yeon Sung', cursive;
}
body{
    font-family: 'Yeon Sung', cursive;
}
button{
    margin-top: 20px;
    align-items: center;
    width: 100%;
}
.header-c{
    padding:0  50px !important;
}
@media (min-width: 900px) and (max-width: 1200px) {
    nav a{
        font-size: 5rem !important;
    }
    h1{
        font-size: 5.5rem;
    }
    p{
        font-size: 2rem;
    }
    span{
        font-size: 2.3rem !important;
    }
    button{
        font-size: 3rem !important;
    }
}
